<form method="post" action="/members/<%=@member.id%>">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" value="<%=@member.name%>"/>

  <label for="premium_membership">Premium Membership:</label>
  <input for="premium_membership" id="premium_membership" type="checkbox" name="premium_membership" value="true" <%= "checked" if @member.premium_membership %> />

  <input type="submit" value="Update Member"/>

</form>
