<% for member in @members %>
  <p> <%= member.name %> <a href='/members/<%=member.id%>'><button>More Info</button></a></p>
<% end %>

<hr/>

<a href="/members/new">
  <button>Add Member</button>
</a>
