<div class="index">
  <h1>Gym Members</h1>

  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Premium Membership</th>
    </tr>
    <% for member in @members %>
    <tr>
      <td><a href='/members/<%=member.id%>'> <%= member.name %> </a></td>
      <td>|</td>
      <td><%if member.premium_membership%>✔️<%else%>❌<%end%></td>
    </tr>
    <% end %>
  </table>
</div>
