<form method="post" action="/members">
  <div>
    <label for="name"><span>Name:</span></label>
    <input id="name" type="text" name="name" required />

    <label for="premium_membership"><span>Premium Membership:</span></label>
    <input for="premium_membership" id="premium_membership" type="checkbox" name="premium_membership" value="true" />
  </div>

  <div>
    <input type="submit" value="Add Member"/>
  </div>
</form>
