<form method="post" action="/members">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/>

  <label for="premium_membership">Premium Membership:</label>
  <input for="premium_membership" id="premium_membership" type="checkbox" name="premium_membership" value="true" />

  <input type="submit" value="Add Member"/>

</form>
