<form method="post" action="/members">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" required />

    <label for="premium_membership">Premium Membership:</label>
    <input for="premium_membership" id="premium_membership" type="checkbox" name="premium_membership" value="true" />
  </div>

  <div>
    <input type="submit" value="Add Member"/>
  </div>
</form>
