<form method="post" action="/gym_classes/<%=@gym_class.id%>">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" value="<%=@gym_class.name%>"/>

  <label for="capacity">Capacity:</label>
  <input for="capacity" type="number" name="capacity" value="<%=@gym_class.capacity%>"/>

  <label for="time_slot">Time Slot:</label>
  <input id="time_slot" type="text" name="time_slot" value="<%=@gym_class.time_slot%>"/>

  <input type="submit" value="Update Gym Class"/>

</form>
