<% for gym_class in @gym_classes %>
  <p> <%= gym_class.name %> - <%= gym_class.time_slot %>  <a href='/gym_classes/<%=gym_class.id%>'><button>More Info</button></a>
</p>
<% end %>

<hr/>

<a href="/gym_classes/new">
  <button>Add Gym Class</button>
</a>
