<form method="post" action="/gym_classes">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/>

  <label for="capacity">Capacity:</label>
  <input for="capacity" type="number" name="capacity"/>

  <label for="time_slot_select">Select a Time Slot:</label>
  <select id="time_slot_select" name="time_slot">
  <option value="7-8am">7-8am</option>
  <option value="8-9am">8-9am</option>
  <option value="8-9am">9-10am</option>
  <option value="8-9am">10-11am</option>
  <option value="8-9am">11-12am</option>
  <option value="8-9am">12-1pm</option>
  <option value="8-9am">1-2pm</option>
  <option value="8-9am">2-3pm</option>
  <option value="8-9am">3-4pm</option>
  <option value="8-9am">4-5pm</option>
  <option value="8-9am">5-6pm</option>
  <option value="8-9am">6-7pm</option>
  <option value="8-9am">7-8pm</option>
  </select>

  <input type="submit" value="Add Class"/>

</form>
