<form method="post" action="/gym_classes">

  <!-- <label for="name">Name:</label> -->
  <!-- <input id="name" type="text" name="name"/> -->
  <label for="gym_class_select">Select a Gym Class:</label>
  <select id="gym_class_select" name="name">
  <option value="Spinning">Spinning</option>
  <option value="Boot Camp">Boot Camp</option>
  <option value="Zumba">Zumba</option>
  <option value="Cross Fit">Cross Fit</option>
  <option value="Pilates">Pilates</option>
  <option value="Hatha Yoga">Hatha Yoga</option>
  <option value="HIIT">HIIT</option>
  <option value="Abs">Abs</option>
  <option value="Boxing">Boxing</option>
  <option value="Muay Thai">Muay Thai</option>
  <option value="Rowing">Rowing</option>
  <option value="Swim Fit">Swim Fit</option>
  <option value="Barre">Barre</option>
  </select>

  <!-- <label for="capacity">Capacity:</label>
  <input for="capacity" type="number" name="capacity"/> -->

  <label for="time_slot_select">Select a Time Slot:</label>
  <select id="time_slot_select" name="time_slot">
  <option value="7-8am">7-8am</option>
  <option value="8-9am">8-9am</option>
  <option value="9-10am">9-10am</option>
  <option value="10-11am">10-11am</option>
  <option value="11-12am">11-12am</option>
  <option value="12-1pm">12-1pm</option>
  <option value="1-2pm">1-2pm</option>
  <option value="2-3pm">2-3pm</option>
  <option value="3-4pm">3-4pm</option>
  <option value="4-5pm">4-5pm</option>
  <option value="5-6pm">5-6pm</option>
  <option value="6-7pm">6-7pm</option>
  <option value="7-8pm">7-8pm</option>
  </select>

  <input type="submit" value="Add Class"/>

</form>
