<div class="form-message">
  <form method="post" action="/gym_classes">
    <div>
      <label for="gym_class_select"><span>Select a Gym Class:</span></label>
      <select id="gym_class_select" name="name" required>
        <option selected disabled hidden>Choose here...</option>
        <option value="Spinning">Spinning</option>
        <option value="Boot Camp">Boot Camp</option>
        <option value="Zumba">Zumba</option>
        <option value="Cross Fit">Cross Fit</option>
        <option value="Pilates">Pilates</option>
        <option value="Hatha Yoga">Hatha Yoga</option>
        <option value="HIIT">HIIT</option>
        <option value="Abs">Abs</option>
        <option value="Boxing">Boxing</option>
        <option value="Muay Thai">Muay Thai</option>
        <option value="Rowing">Rowing</option>
        <option value="Swim Fit">Swim Fit</option>
        <option value="Barre">Barre</option>
      </select>

      <label for="capacity"><span>Capacity:</span></label>
      <input for="capacity" type="number" name="capacity" min="1" required/>

      <label for="time_slot_select"><span>Select a Time Slot:</span></label>
      <select id="time_slot_select" name="time_slot" required>
        <option selected disabled hidden>Choose here...</option>
        <option value="07:00-08:00">07:00-08:00</option>
        <option value="08:00-09:00">08:00-09:00</option>
        <option value="09:00-10:00">09:00-10:00</option>
        <option value="10:00-11:00">10:00-11:00</option>
        <option value="11:00-12:00">11:00-12:00</option>
        <option value="12:00-13:00">12:00-13:00</option>
        <option value="13:00-14:00">13:00-14:00</option>
        <option value="14:00-15:00">14:00-15:00</option>
        <option value="15:00-16:00">15:00-16:00</option>
        <option value="16:00-17:00">16:00-17:00</option>
        <option value="17:00-18:00">17:00-18:00</option>
        <option value="18:00-19:00">18:00-19:00</option>
        <option value="19:00-20:00">19:00-20:00</option>
      </select>
    </div>
    <div>
      <input type="submit" value="Add Class"/>
    </div>
  </form>
</div>
