<!-- <h1>PowerUp!</h1>
<nav>
  <a href="/classes">Manage Classes</a>
</nav> -->

<img class="index-image" src="https://greatist.com/sites/default/files/Fitness-Pros-Features.jpg" alt="Three People Working Out">
