<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>PowerUp</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <img id="logo" src="/images/PowerUp_Logo.png" alt="PowerUp Logo Text">
    <nav>
      <a href="/"> <button>Home</button></a>
      <a href="/gym_classes"> <button>Gym Classes</button></a>
      <a href="/members"> <button>Members</button></a>
      <a href="/bookings"><button>Bookings</button></a>
    </nav>
  </header>
  <main>
    <div id="side-menu">
      <nav>
        <a href="/gym_classes/new"><button>New Gym Class</button></a>
        <a href="/members/new"><button >New Member</button></a>
        <a href="/bookings/new"><button>New Booking</button></a>
      </nav>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </main>

</body>
</html>
