<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>PowerUp</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <img src="/images/PowerUp_Logo.png" alt="PowerUp Logo Text">
    <hr/>
    <nav>
      <a href="/"> <button>Home </button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="/gym_classes"> <button>Gym Classes</button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="/members"> <button>Members</button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="/bookings"><button>Bookings</button></a>
    </nav>
  </header>
  <hr/>
  <main>

    <%= yield %>

  </main>
  <hr/>
  <footer>
    <nav>
      <a href="/gym_classes/new"><button>Start a Gym Class</button></a>
      <a href="/members/new"><button >Add a New Member</button></a>
      <a href="/bookings/new"><button>Book a Gym Class</button></a>
    </nav>
  </footer>
</body>
</html>
