<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>PowerUp</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <img src="/images/PowerUp_Logo.png" alt="PowerUp Logo Text">
  <!-- <h1>PowerUp!</h1> -->
  <hr/>
  <nav>
    <!-- <p> -->
      <a href="/"> <button>Home </button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <!-- </p> -->

    <!-- <p> -->
      <a href="/gym_classes"> <button>Gym Classes</button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <!-- </p>
    <p> -->
      <a href="/members"> <button>Members</button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <!-- </p>
    <p> -->
      <a href="/bookings"><button>Bookings</button></a>
    <!-- </p> -->
  </nav>
  <hr/>

  <%= yield %>

</body>
</html>
