<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PowerUp</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>PowerUp!</h1>
    <nav>
      <p>
        <a href="/"> Home </a>
      </p>

      <p>
        <a href="/gym_classes"> Manage Gym Classes</a>
      </p>
      <p>
        <a href="/members"> Manage Members</a>
      </p>
      <p>
        <a href="/members"> Manage Bookings</a>
      </p>
    </nav>
    <hr/>

<%= yield %>

  </body>
</html>
