.index-image{
  width: 65%;
  padding-left: 17%;
}

#logo {
  width: 50%;
  padding: 5px 0px 5px 0px;
}

header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
}

header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-right: 10%;
  /* background-color: silver; */
}

main {
  display: flex;
  height: inherit;
}

#side-menu {
  width: 10%;
}

#side-menu nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  padding-top: 20%;
}

#content {
  border-left: 1px solid black;
  width: 100%;
  /* background-image: url("/images/Fitness-Pros-Features.jpg"); */
  background-size: 100%;
  display: flex;
  justify-content: center;
  padding-right: 10%;
  text-align: center;
}

body {
  margin: 0 0;
  height: inherit;
}

html {
  height: 100%;
}
/*
.details {
  display: flex;
} */

.details-table {
  border-style: solid;
}

.details-buttons {
  border-style: solid;
}

.details-list {
  display: flex;
  flex-direction: column;
}

button, input[type=submit] {
  border: none;
  padding: 6px 10px 7px 10px;
  color: papayawhip;
  cursor: pointer;
  background-color: darkred;
  font-family: 'Century Gothic', cursive;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
}

span, th, td, h1, h3, select, input[type=text], input[type=checkbox], input[type=number] {
  font-family: 'Century Gothic', cursive;
}

td, th {
  text-align: center;
}

td {
  padding: 10px 20px 0px 0px;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid papayawhip;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 10px;
}

select, input[type=text], input[type=number] {
  width: 150px;
  margin: 15px 0px;
}

h1 {
  color: darkred;
}

a:hover {
  color: #c6e2ff;
}

#side-menu nav button {
  width: 100px;
}

input[type=checkbox] {
  width: 20px;
  margin: 15px 0px;
  transform: scale(1.4);
}

span {
  padding-left: 30px;
}
