.index-image{
  width: 65%;
  padding-left: 17%;
}

#logo {
  width: 30%;
}

header {
  display: flex;
  justify-content: flex-start;
  border-style: solid;
}

header nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-right: 10%;
  /* background-color: silver; */
}

main {
  display: flex;
  height: inherit;
}

#side-menu {
  border-style: solid;
  width: 10%;
}

#side-menu nav {
  display: flex;
  flex-direction: column;
  border-style: solid;
}

#content {
  border-style: solid;
  width: 100%;
  /* background-image: url("/images/Fitness-Pros-Features.jpg"); */
  background-size: 100%;
}

body {
  margin: 0 0;
  height: inherit;
}

html {
  height: 100%;
}

.details {
  display: flex;
  justify-content: space-around;
}

.details-table {
  border-style: solid;
}

.details-buttons {
  border-style: solid;
}

.details-list {
  display: flex;
  flex-direction: column;
}

button, input[type=submit] {
  border: none;
  padding: 8px 12px;
  color: papayawhip;
  cursor: pointer;
  background-color: darkred;
  font-family: 'Special Elite', cursive;
}

td, th {
  text-align: center;
}

td {
  padding: 10px 20px 0px 0px;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid papayawhip;
}

table {
  border-collapse: collapse;
}
