<% if !@premium_membership %>
  <p>Premium membership required for this time slot.</p>
<% elsif @member_already_booked_for_time_slot %>
  <p>This time slot is already booked by the member.</p>
<% end %>
