<% if @member_already_booked_for_time_slot %>
  <h4>This time slot is already booked by the member.</h4>
<% elsif !@places_available %>
  <h4>This class is already at capacity.</h4>
<% elsif !@premium_membership %>
  <h4>Premium membership required for this time slot.</h4>
<% end %>
